<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>welcome admin</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head> 
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Dash board</h1>
            <span class="subheading">welcome admin</span>
          </div>
        </div>
      </div>
    </div>
</header>
          <a class="btn btn-primary float-left" href="/edit/0">new post</a>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/logout">logout</a>
        </div>
<body>
    
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">sno</th>
            <th scope="col">title</th>
            <th scope="col">content</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
        {% for post in posts %}
          <tr>
            <th scope="row">{{post.sno}}</th>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td> <a class="btn btn-primary float-right" href="/edit/{{post.sno}}">edit</a></td>
            <td> <a class="btn btn-primary float-right" href="/delete/{{post.sno}}">delete</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>
</html>