{% extends "layout.html" %}
{% block body%}
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% for da in data %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="/project/{{da.sno}}">
                <h2 class="post-title">
                {{da.title}}
                </h2>
                    <h3 class="post-subtitle"> 
                    {{da.content}}
                    </h3>
            </a>
                <p class="post-meta">
                    <a href="#"></a>
                    {{da.date}}</p>
    
                </div>
            </div>
        </div> 
        {% endfor %}     
{% endblock %}